.featured {
	&__featured {
		margin: 3vmax 0;
	}
	&__heading {
		font-size: 3vmax;
		text-align: center;
		letter-spacing: 0.1rem;
		background-image: linear-gradient(90deg, #ff00f2, #0059ff);
		background-size: 100%;
		background-clip: border-box;
		-webkit-background-clip: text;
		-moz-background-clip: text;
		-webkit-text-fill-color: transparent;
		-moz-text-fill-color: transparent;
		text-shadow: 0.15rem 0.15rem $primary;
		width: 60%;
		margin: 0 auto;
		padding-bottom: 2rem;
		border-bottom: 0.15rem solid $black;
		border-color: $grey;
	}
}
