// Hero Styling
.hero {
	&__hero {
		width: 100%;
		background-image: url("../../../Assets/hero_background.jpg");
		height: 100vmin;
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		color: $white;
		max-width: 100%;
	}
	&__hero::after {
		content: "";
		width: 100vw;
		height: 100vmin;
		background-color: $white;
		position: absolute;
		top: 0%;
		left: 0;
		clip-path: polygon(0 91%, 100% 63%, 100% 100%, 0% 100%);
		max-width: 100%;
	}
	&__h1 {
		margin: 3vmax 0;
		font-size: 3vmax;
		font-weight: 750;
	}
	&__h3 {
		font-size: 2.3vmax 0;
		font-weight: 750;
	}
	&__button {
		margin: 3vmax;
		background-color: $white;
		opacity: 0.6;
		color: $black;
		padding: 1rem;
		border: 0.125rem solid $white;
		width: 10rem;
		border-radius: 0.3rem;
		transition: 0.1s all;
		transition-duration: 0.5s;
		font-size: 1.2vmax;
		&:hover {
			background-color: $grey;
			color: $white;
			transform: scale(1.02);
		}
	}
}
