*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}

/* Scroll Bar */
::-webkit-scrollbar {
	width: 0.5rem;
	background-color: $white;
}

/* Track */
::-webkit-scrollbar-track {
	border-radius: 0.5rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
	border-radius: 0.2rem;
	background-color: $scroll-bar-color;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: $body-background;
	font-family: "Roboto";
}

// Overriding Tags
a {
	text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
	margin: 0;
}

pre {
	white-space: pre-wrap;
	word-break: break-word;
	font-family: "Roboto";
	text-align: justify;
}

// Overriding Bootstrap
.MuiInputLabel-outlined.MuiInputLabel-shrink {
	background-color: $body-background;
	transform: translate(1rem, -0.55rem) scale(0.75) !important;
	padding: 0 0.5rem;
}

// Checkout Steps
.MuiStepConnector-line {
	display: none !important;
}

.MuiStepConnector-root {
	height: 0.1rem;
	background-color: rgba(0, 0, 0, 0.349);
}

.MuiStepConnector-active,
.MuiStepConnector-completed {
	background-color: $tomato;
}

// Table
.MuiDataGrid-columnHeader {
	background-color: $tomato;
	padding: 1vmax !important;
}

.MuiDataGrid-columnHeader div {
	color: $white;
	font: 500 1.1vmax "Roboto" !important;
}

.MuiDataGrid-iconSeparator {
	display: none !important;
}
