// Constant Colors

$white: #ffffff;
$black: #000000;
$blue: #0000ff;
$danger: #e11919;
$success: #19e119;
$navbar-background: #000000;
$body-background: #f7f7f7;
$footer-background: #000000;
$scroll-bar-color: #00ebf3;

$primary: #00ebf3;
$secondary: #ff00bf;
$grey: rgb(138, 138, 138);
$light-dark: #221f1f;
