// Constant Colors

$white: white;
$black: black;
$blue: blue;
$dark-blue: #00003b;
$danger: #e11919;
$success: #19e119;
$primary: #00ebf3;
$secondary: #ff00bf;
$tomato: tomato;

$navbar-background: #000000;
$body-background: #f7f7f7;
$footer-background: #000000;
$scroll-bar-color: #00ebf3;

$grey: rgb(138, 138, 138);
$light-dark: #292929;
$loader-background: #e0e0e0;
$light-shadow: #c9c9c9;
$auth-background: #eee8e8;
