.auth {
	&__auth {
		width: 30rem;
		height: 36rem;
		margin: 2rem auto;
		padding: 2rem;
		background-color: transparent;
		border-radius: 0.8rem;
		box-shadow: 0.2rem 0.2rem 0.5rem 0.2rem $grey;
	}
	&__input {
		margin: 2rem 0;
	}
	&__button {
		width: 100%;
		font-size: 1.3rem;
		color: $black;
		padding: 0.4rem 0.8rem;
		border: 0.1rem solid $secondary;
		outline: none;
		cursor: pointer;
		border-radius: 0.6rem;
		transition: all 0.5s;
		&:hover {
			background-color: $primary;
			color: $white;
		}
	}

	&__toggle {
		width: 100%;
		font-size: 1.3rem;
		color: $black;
		padding: 0.4rem 0.8rem;
		border: 0.1rem solid $primary;
		outline: none;
		cursor: pointer;
	}
	&__true {
		color: $white;
		background-color: $dark-blue;
	}
	&__registerImage {
		display: flex;
		margin-bottom: 2rem;
		img {
			width: 4rem;
			height: 4rem;
			border-radius: 50%;
			cursor: pointer;
		}
		input {
			width: 100%;
			height: 4rem;
		}
		input::file-selector-button {
			cursor: pointer;
			width: 100%;
			z-index: 2;
			height: 4rem;
			border: none;
			border-radius: 0.8rem;
			margin: 0%;
			font: 500 0.8vmax cursive;
			transition: all 0.5s;
			padding: 0 1vmax;
			color: $black;
			background-color: $light-shadow;
		}
	}

	&__forgot {
		display: flex;
		justify-content: flex-end;
		margin-bottom: 1rem;
		button {
			border: none;
			outline: none;
			background-color: transparent;
			color: $blue;
		}
	}
}
