.reviews {
	min-height: 80vh;
	&__heading {
		font-size: 3vmax;
		text-align: center;
		width: 60%;
		margin: 1.5rem auto;
		padding-bottom: 1rem;
		border-bottom: 0.15rem solid $light-shadow;
	}
	@media (max-width: 768px) {
		&__heading {
			font-size: 2rem;
		}
	}
}
