// Footer Styling
.footer {
	&__footer {
		width: 100%;
		padding: 1rem 0;
		color: $white;
		position: relative;
		bottom: 0;
		background-color: $footer-background;
	}

	&__logo {
		width: 65%;
		height: auto;
	}
	&__title {
		letter-spacing: 0.1rem;
		background-image: linear-gradient(90deg, #ffffff, #ff0048);
		background-size: 100%;
		background-clip: border-box;
		-webkit-background-clip: text;
		-moz-background-clip: text;
		-webkit-text-fill-color: transparent;
		-moz-text-fill-color: transparent;
		font-size: 2.5vmax;
	}
	&__social {
		display: block;
		padding: 0.3rem 0;
	}
}
